<div class="uk-section">
  <h3 class="uk-heading-divider">Education</h3>
  <div class="timeline">
    <div class="timeline-container timeline-left">
      <div class="timeline-content">
        <h4 class="uk-h4 timeline-date">2018 - In progress</h4>
        <p class="timeline-degree uk-margin-remove uk-text-bold">Bsc in Mechanical Engineering</p>
        <p class="timeline-university uk-margin-small-top uk-margin-remove-bottom">The National University of Distance Education (UNED)</p>
        <p class="timeline-location uk-margin-small-top">Spain</p>
      </div>
    </div>
    <div class="timeline-container timeline-left">
      <div class="timeline-content">
        <h4 class="uk-h4 timeline-date">1999 - 2004</h4>
        <p class="timeline-degree uk-margin-remove uk-text-bold">Bsc in Computer Science</p>
        <p class="timeline-university uk-margin-small-top uk-margin-remove-bottom">Universidad Técnica José Antonio Echeverría</p>
        <p class="timeline-location uk-margin-small-top">Cuba</p>
      </div>
    </div>
  </div>
</div>
