<div class="uk-section">
  <h3 class="uk-heading-divider">Education</h3>
  <div class="timeline">
    <div class="timeline-container timeline-left">
      <div class="timeline-content">
        <h4 class="uk-h4 timeline-date">2018 - Present</h4>
        <p class="timeline-role uk-margin-remove">Bsc in Mechanical Engineering - In progress</p>
        <p class="timeline-company uk-margin-remove">UNED, Spain</p>
      </div>
    </div>
    <div class="timeline-container timeline-left">
      <div class="timeline-content">
        <h4 class="uk-h4 timeline-date">1999 - 2004</h4>
        <p class="timeline-role uk-margin-remove">Bsc in Computer Science</p>
        <p class="timeline-company uk-margin-remove">Universidad Tec. José Antonio Echeverría</p>
        <p class="timeline-company uk-margin-remove">Cuba</p>

      </div>
    </div>
  </div>
</div>
