<footer>
  <div class="uk-section uk-align-center uk-margin-remove-bottom footer">
    <div class="uk-child-width-expand@s uk-text-center uk-grid-small" uk-grid>
      <div>
      </div>
      <div>
        <div>
          <h5 class="uk-h5 uk-text-center copyright">&copy;	2018 - Ryan Flores</h5>
        </div>
        <div class="uk-text-center">
          <a href="mailto:refactor8@gmail.com" class="uk-icon-link uk-margin-small-right" uk-icon="mail" ratio="1.2"></a>
          <a href="https://github.com/refactor8" class="uk-icon-link uk-margin-small-right" uk-icon="github-alt" ratio="1.2"></a>
          <a href="https://www.linkedin.com/in/rfloresp/" class="uk-icon-link" uk-icon="linkedin" ratio="1.2"></a>
        </div>
      </div>
      <div>
        <a href="#" uk-totop uk-scroll uk-visible@m></a>
      </div>
    </div>
  </div>
</footer>
