<div class="uk-section uk-section-default uk-margin-large-top uk-padding-remove">
  <h3 class="uk-heading-divider uk-margin-small-top">Profile</h3>
  <p class="uk-dropcap profile">I am a senior web developer and computer enthusiast with over fourteen years of experience.
    My core competencies lies in end-to-end architecting and development of web applications through all phases from the ground up.
    I have a proven track record of successful product launches working remotely for technology startups for the past six years.
  </p>
</div>
