<div class="uk-margin-top uk-margin-bottom uk-padding">
  <img class="uk-border-circle uk-align-center" src="../assets/images/avatar.jpg" width="150" height="150" alt="Ryan Flores">
  <h2 class="uk-h2 name uk-margin-remove uk-text-uppercase uk-text-center"><a class="uk-link-reset" href="/">Ryan Flores</a></h2>
  <h3 class="uk-h3 uk-text-center uk-text-uppercase title uk-margin-small-top">Full Stack Developer</h3>
  <div class="uk-text-center">
    <a href="mailto:refactor8@gmail.com" class="uk-icon-link uk-margin-small-right" uk-icon="mail" ratio="1.2"></a>
    <a href="https://github.com/refactor8" class="uk-icon-link uk-margin-small-right" uk-icon="github-alt" ratio="1.2"></a>
    <a href="https://www.linkedin.com/in/rfloresp/" class="uk-icon-link" uk-icon="linkedin" ratio="1.2"></a>
  </div>
</div>
